
.header {
    background-color:#0997f7;
    color:white;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 100%;
    width: 7%;
    float:left;
    padding:5px;
    text-Align:center;	      
}
.section {
    width:85%;
    float:left;
    padding:10px;
    height: 100%;
    text-Align:center;
}
